body{
  margin: 0;
  padding: 0;
}

.App {
}

.img-box {
  padding: 100px 0;
  border: 1px solid black;
}

hr {
  width: 50%;
}

h3{
  font-size: 16px;
}

.img-main {
  max-width: 250px;
  height: auto;
}

.img-des{
  position: relative;
  max-width: 400px;
  height: auto;
  vertical-align: middle!important;
}

.price {
  color: red;
  font-weight: 100;
}

.text-back {
  text-align: left!important;
  color: red;
  font-weight: lighter;
}

.text-back:hover {
  transition: .2s;
  transition-timing-function: ease-in;
  color: rgb(175, 0, 0);
  text-decoration: none;
}

table {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 0 8px;
}

th {
  padding-right: 100px;
  vertical-align: top;
}

input, .text{
    display: block;
    font-size: 16px;;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none !important;
}

/* Regex add menu input */
input.valid, textarea.valid{
border: 1.5px solid #36cc36;
}

input.invalid, textarea.invalid {
border: 1.5px solid rgb(228, 32, 32);
}

input + p, textarea + p {
  font-family: arial;
  margin: 0 10px;
  color: rgb(228, 32, 32);
  opacity: 0;
  height: 0;
}

input.invalid + p, textarea.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
